* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none; 
    color: #47452E; 
  }
  
  .navbar-brand:hover {
    color: #47452E90; 
  }

.rounded-icon {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}